.dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 64px); 
  background-color: #f0f2f5;
  padding: 20px;
  text-align: center;
}

.dashboard-card {
  max-width: calc(100vh - 64px);
  width: 100%;
  padding: 30px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background-color: #fff;
}

mat-card-header {
  margin-bottom: 25px;
  align-self: anchor-center;
  .mat-card-title {
    font-size: 10rem;
    font-weight: 700;
    color: #3f51b5; 
  }
}

mat-card-content {
  p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #555;
    margin-bottom: 20px;
  }
}

.dashboard-actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px; 
  margin-top: 30px;

  button {
    padding: 12px 25px;
    font-size: 1.05em;
    border-radius: 5px;
    min-width: 180px; 
  }
}

@media (max-width: 768px) {
  .dashboard-card {
    margin: 15px;
    padding: 20px;
  }
  mat-card-header .mat-mdc-card-title {
    font-size:xx-large;
    align-self: anchor-center;
  }
  .dashboard-actions button {
    width: 100%; 
    min-width: unset;
  }
}

.mat-mdc-card-title{
  font-size: xx-large;
}

.login-logo {
  height: 100px; 
  margin-bottom: 10px;
  width: 100px;
  align-self: anchor-center;
}
