.app-toolbar {
  padding: 0 16px; 
}

.spacer {
  flex: 1 1 auto; 
}

.app-toolbar a.mat-button {
  margin: 0 8px;
  color: white; 
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.app-toolbar button.mat-icon-button {
  color: white;
}

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

router-outlet + * {
  flex: 1; 
  display: flex;
  flex-direction: column;
}

.mat-toolbar.mat-primary {
  --mat-toolbar-container-background-color: darkslategrey;
}

.title-section {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
}

.ai-icon {
  height: 45px;
  vertical-align: middle;
  margin-right: 8px;
}

.user-info-display {
  padding: 8px 16px; 
  display: flex;
  align-items: center;
  font-weight: 500; 
  color: #333; 
  cursor: default; 

  mat-icon {
    margin-right: 8px; 
    color: #757575; 
  }
}

.mat-menu-panel .mat-divider {
  margin: 5px 0; 
}
