.app-title {
  font-weight: bold;
  font-size: 1.2rem;
}

.spacer {
  flex: 1;
}

.mat-toolbar{
    background-color: darkslategray;
}

.ai-icon {
  height: 45px;
  vertical-align: middle;
  margin-right: 8px;
}

.title-section {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
}
