<mat-toolbar color="primary" class="app-toolbar" *ngIf="authService.isLoggedIn() | async">
  <span class="title-section">
    <img src="assets/ai-icon.png" alt="AI Icon" class="ai-icon" />
    DOCUMENT SEARCH AI
  </span>

  <span class="spacer"></span>

  <a mat-button routerLink="/dashboard">Dashboard</a>
  <a mat-button routerLink="/documents">Documents</a>
  <a mat-button routerLink="/qa">Chat</a>


  <button mat-icon-button [matMenuTriggerFor]="accountMenu" aria-label="User account menu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #accountMenu="matMenu">
    <div class="user-info-display" *ngIf="username">
      <mat-icon>person</mat-icon>
      <span>{{ username }}</span>
    </div>
    <mat-divider *ngIf="username"></mat-divider>

    <button mat-menu-item *ngIf="authService.hasRole('Admin')" routerLink="/admin-dashboard">
      <mat-icon>admin_panel_settings</mat-icon>
      <span>Admin Dashboard</span>
    </button>
    <button mat-menu-item (click)="authService.logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>

<router-outlet></router-outlet>