mat-dialog-content {
  font-size: 16px;
  color: #333;
  padding-bottom: 1rem;
  line-height: 1.5;
}

mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;

  button {
    min-width: 160px;
    height: 40px;
    font-weight: 500;
    text-transform: none;
    border-radius: 8px; 
  }

  .mat-mdc-outlined-button:not(:disabled) {
    color: white;
    background-color: darkgray;
    border: none;

    &:hover {
      background-color: #d3d3d3;
    }
  }

  .mat-mdc-raised-button.mat-primary {
    background-color: #6495ed;
    color: white;

    &:hover {
      background-color: #437dd7;
    }
  }
}
