<h2 mat-dialog-title>
  {{ data.title }}
</h2>
<mat-dialog-content>
  <p>{{ data.message }}</p>

  <ng-container *ngIf="data.showUploadButtons">
    <p>Would you like to upload another or view your documents?</p>
  </ng-container>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <ng-container *ngIf="data.showUploadButtons; else genericCloseButton">
    <button mat-stroked-button color="accent" (click)="continueUpload()">Continue Uploading</button>
    <button mat-raised-button color="primary" (click)="goToDocuments()">Go to Documents</button>
  </ng-container>
  <ng-template #genericCloseButton>
    <button mat-raised-button (click)="closeDialog()">Close</button>
  </ng-template>
</mat-dialog-actions>